In [33]:
import pandas as pd
import numpy as np

In [34]:
#Import raw data and create dataframe for distances
colnames = ['PostPoint1','PostPoint2','dist']
df_dist = pd.read_csv('C:/Users/julli/OneDrive/Documentos/Deutshland/RWTH Aachen University/DDS Course/Summer Semester 23/Analytics Project/Deutsche Post/DP Data/Data/Instances/Warmsen/distances/distances_31600-01.dat'
                    , sep=',', names = colnames)

print(df_dist.head())
print('row_num: ',len(df_dist))

   PostPoint1  PostPoint2     dist
0         698         698     0.00
1         698         699  5038.87
2         698         700   867.73
3         698         701   882.26
4         698         696    53.95
row_num:  182329

In [35]:
print('num of unique PP1: ', df_dist['PostPoint1'].nunique())
print('num of unique PP2: ', df_dist['PostPoint1'].nunique())

num of unique PP1:  427
num of unique PP2:  427

In [36]:
#Creating BIG_M value if needed for non existing pair distances
M = np.round(df_dist['dist'].sum())
M

1017482150.0

In [55]:
#Check if there are missing PostPoint combinations 

District_PP = df_dist.PostPoint1.unique()
np.ndarray.sort(District_PP)

District_PP

array([  0, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336,
       337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349,
       350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362,
       363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375,
       376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388,
       389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401,
       402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414,
       415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427,
       428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440,
       441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453,
       454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466,
       467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479,
       480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492,
       493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505,
       506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518,
       519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531,
       532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544,
       545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557,
       558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570,
       571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583,
       584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596,
       597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609,
       610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622,
       623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635,
       636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648,
       649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661,
       662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674,
       675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687,
       688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700,
       701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713,
       714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726,
       727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739,
       740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750], dtype=int64)

In [63]:
#def check_all_pairs(table):
    #table.groupby('PostPoint1').count()

x = df_dist.groupby('PostPoint1').count()
x

            PostPoint2  dist
PostPoint1
0                  427   427
325                427   427
326                427   427
327                427   427
328                427   427
...                ...   ...
746                427   427
747                427   427
748                427   427
749                427   427
750                427   427

[427 rows x 2 columns]

In [71]:
# pivot dataframe to create distance matrix
distance_matrix = df_dist.pivot(index='PostPoint1', columns='PostPoint2', values='dist')

print(distance_matrix)
 

# convert distance matrix to numpy array
distance_matrix_array = distance_matrix.to_numpy()

print(distance_matrix_array)
print(distance_matrix_array.shape)

PostPoint2      0        325      326      327      328      329      330  \
PostPoint1
0              0.00  4839.06  8242.40  8268.54  4830.32  1823.78  1876.20
325         4832.99     0.00  5654.72  5680.86     8.74  5677.86  5730.28
326         8259.38  5622.04     0.00    26.14  5613.30  6959.68  7012.10
327         8285.52  5648.18    26.14     0.00  5639.44  6985.82  7038.24
328         4824.25     8.74  5645.98  5672.12     0.00  5669.12  5721.54
...             ...      ...      ...      ...      ...      ...      ...
746         7128.05  3894.89  5410.12  5436.26  3886.15  7728.85  7781.27
747         7121.25  3888.09  5410.94  5437.08  3879.35  7722.05  7774.47
748         7139.14  3905.98  5428.83  5454.97  3897.24  7739.94  7792.36
749         7175.77  3942.61  5465.46  5491.60  3933.87  7776.57  7828.99
750         7181.41  3948.25  5471.10  5497.24  3939.51  7782.21  7834.63

PostPoint2      331      332      333  ...      741      742      743  \
PostPoint1                             ...
0           4848.11  4863.24  4874.20  ...  6805.72  6852.34  7121.32
325            9.05    24.18    35.14  ...  3632.41  3679.03  3905.95
326         5631.09  5646.22  5657.18  ...  5279.49  5326.11  5414.42
327         5657.23  5672.36  5683.32  ...  5305.63  5352.25  5440.56
328           17.79    32.92    43.88  ...  3623.67  3670.29  3897.21
...             ...      ...      ...  ...      ...      ...      ...
746         3903.94  3919.07  3930.03  ...   358.69   405.31    10.28
747         3897.14  3912.27  3923.23  ...   357.93   404.55     3.48
748         3915.03  3930.16  3941.12  ...   375.82   422.44    21.37
749         3951.66  3966.79  3977.75  ...   412.45   459.07    58.00
750         3957.30  3972.43  3983.39  ...   418.09   464.71    63.64

PostPoint2      744      745      746      747      748      749      750
PostPoint1
0           7132.45  7123.06  7131.60  7124.80  7142.69  7179.32  7184.96
325         3917.10  3907.69  3916.23  3909.43  3927.32  3963.95  3969.59
326         5405.76  5412.68  5410.12  5410.94  5428.83  5465.46  5471.10
327         5431.90  5438.82  5436.26  5437.08  5454.97  5491.60  5497.24
328         3908.36  3898.95  3907.49  3900.69  3918.58  3955.21  3960.85
...             ...      ...      ...      ...      ...      ...      ...
746            4.36     8.54     0.00    10.28    28.17    64.80    70.44
747           14.63     1.74    10.28     0.00    17.89    54.52    60.16
748           32.52    19.63    28.17    17.89     0.00    36.63    42.27
749           69.15    56.26    64.80    54.52    36.63     0.00     5.64
750           74.79    61.90    70.44    60.16    42.27     5.64     0.00

[427 rows x 427 columns]
[[0.00000e+00 4.83906e+03 8.24240e+03 ... 7.14269e+03 7.17932e+03
  7.18496e+03]
 [4.83299e+03 0.00000e+00 5.65472e+03 ... 3.92732e+03 3.96395e+03
  3.96959e+03]
 [8.25938e+03 5.62204e+03 0.00000e+00 ... 5.42883e+03 5.46546e+03
  5.47110e+03]
 ...
 [7.13914e+03 3.90598e+03 5.42883e+03 ... 0.00000e+00 3.66300e+01
  4.22700e+01]
 [7.17577e+03 3.94261e+03 5.46546e+03 ... 3.66300e+01 0.00000e+00
  5.64000e+00]
 [7.18141e+03 3.94825e+03 5.47110e+03 ... 4.22700e+01 5.64000e+00
  0.00000e+00]]
(427, 427)

In [68]:
Prom_Matrix = np.load('C:/Users/julli/OneDrive/Escritorio/Random Folder/DummyWarsen01.npy')

np.array_equal(distance_matrix_array, Prom_Matrix, equal_nan=False)

True